#container{
	width: 1200px;
	height: 1100px;
	
}

#header{
	width:972px;
	height:94px;
	background: grey url(./chinamobile/bg.gif);
	margin-left:200px; 
}

#header img{
	float：left;
	background: grey;
	
}

#right{
	float:right;
	width:780px;
	height:94px;
	
}



#nav li{
	background:blue;
	float:right;
	margin-top:30px;
	margin-bottom:30px;
	width: 125px;

}

#nav a{
	font-size:20px;
	font-family: "微软雅黑"；
	color:white;
	display:block;
	width:94px;
	height:30px;
	text-align:center;
	margin:5px 0px 0px 20px;
	border-right:1px solid white;


}

#main{
	margin-left:200px;
	width:972px;
	height:150px;
	background:blue;
}
#reg{
	width:215px;
	float: left;
	border: 1px solid grey;
}

.subtitle{
	background: url(./chinamobile/bg.gif);
	width: 215px;
}

.subtitle a{
	font-size: 15px;
	font-family: "微软雅黑"
}
#reg p{
	margin: 5px 12px 7px 30px;
}

}
#picture{
	float: right;
	border: 1px solid red;
	

	
}

#picture img{
	border: 1px solid grey;
	margin-left: 5px;
	margin-bottom: 2px
	padding: 5px;
}

#footer{
	margin-left:200px;
	width:972px;
	height:500px;
	background:pink;
}

#lside{
	width:215px;
	height: 450px;
	background: red;
	float: left;

}

#weather{
	width:212px;
	height:100px;
	background:skyblue;
}

#system{
	width: 212px;
	height: 300px;
	background: grey;
}


#rside{
	float:left;
	width: 750px;
	height:700px;
}

#one{
	width: 510px;
	height:180px;
	background: green;
	margin: 5px;
	float:left;
}

#two{
	width:210px;
	height:180px;
	background: black;
	float:left;
	margin:10px 10px 10px 10px;
	
}


#three{
	width:510px;
	height:100px;
	float:left;
	background: yellow;
	margin: 5px;
}

#four{
	width:210px;
	height: 200px;
	background:purple;
	float:left;
	margin:10px 10px 10px 10px;
}

