#container{
	
	height: 1100px;
	
}

#header{
	height:94px;
	background: grey url(./chinamobile/bg.gif);
	
}

#header img{
	float：left;
	background: grey;
	margin-left:180px;
	
}

#right{
	float:right;
	width:780px;
	height:94px;
	margin-right: 140px;

}

#nav{

}

#nav li{
	background:linear-gradient(to top,#1569c7,#87afc7);
	display: block;
	float:left;
	margin-top:30px;
	margin-bottom:40px;
	padding-bottom:5px;
	width: 100px;
	border-right:1px solid white;

}

#nav a{
	font-size:16px;
	font-family:"微软雅黑"；
	font-size:1px;
	color:white;
	display:block;
	width:70px;
	height:20px;
	text-align:center;
	margin:5px 0px 0px 10px;
	padding-right:4px;

}

#nav a:hover{
	color: blue;
	background: skyblue;
}


#main{
	margin-left:200px;
	width:972px;
	height:160px;
	background:white;
}
#reg{
	width:215px;
	float: left;
	border: 1px solid grey;
	margin-bottom: 1px;
}

 
.subtitle{
	background: linear-gradient(to top, #5CB3FF, #FEFCFF);
	height: 30px;
}




.subtitle a{
	display: block;
	font-size: 15px;
	font-family: "微软雅黑"
	color:red;
	font-weight: 2px;
}


#reg p{
	margin: 5px 12px 7px 30px;
}

}
#picture{
	float: right;
	background: grey;
}

#picture img{
	border: 1px solid grey;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 30px;
	padding:3px;
}

#footer{
	margin-left:200px;
	width:972px;
	height:500px;
	background:white;
	
}

#lside{
	width:215px;
	height: 450px;
	background: white;
	float: left;

}

#weather{
	width:215px;
	height:160px;
	background:linear-gradient(to top, #c2dfff, #FEFCFF);
}

.subtitle a{
	display: block;
	font-size: 15px;
	font-family: "微软雅黑";
	color:black;
	font-weight: 2px;
	margin: 5px;
}




#first table{
	border-collapse:collapse;
	font-size: 10px;
	margin-bottom: 10px;
}

#first img{
	width: 20px;
}
#first tr{
	height: 20px;
}

#first td{
	width: 70px;
	font-size: 6px;
}
#second table{
	border-collapse:collapse;
	border-spacing: 15px;
	font-size: 10px;
	margin-top: 10px;
}

#second img{
	width: 20px;
}
#second tr{
	height: 15px;
}

#second td{
	width: 35px;
	font-size: 6px;
}
#system{
	width: 212px;
	height: 453px;
	background: white;
	border:1px solid skyblue;
	font-family:仿宋体;
	margin-top:3px;
}

#sys li{
	list-style-type:disc;
	list-style-position:inside; 
	margin: 8px;
}



#rside{
	float:left;
	width: 755px;
	height:700px;
}

#one{
	width: 508px;
	height:165px;
	background:white;
	margin: 0px 3px 3px 3px;
	float:left;
	border:1px solid skyblue;
	font-size: 6px;
}

#im li{
	list-style-type:disc;
	list-style-position:inside; 
	margin: 5px;
}



#im a{
	
	font-color:red;
	background: white;

}

#two{
	width:236px;
	height:170px;
	background: white;
	float:left;
	margin:0px 0px 10px 0px;
	border:1px solid skyblue;
}



#shanghai{
	background: linear-gradient(to top, #5CB3FF, #FEFCFF);
	float:left;
}


#three{
	width:505px;
	height:168px;
	float:left;
	background: white;
	margin: 0px 5px 5px 5px;
	border:1px solid skyblue;
}

#everyday li{
	list-style-type:disc;
	list-style-position:inside; 
	margin: 5px 5px 5px 8px;
}



#everyday a{
	font-size: 8px;
	font-color:red;
	background: white;

}

#four{
	width:233px;
	height: 200px;
	background:white;
	float:left;
	margin:0px 0px 10px 0px;
	border:1px solid skyblue;
}

