#container{
	width: 1000px;
	background:  grey;
}
#header{
	height: 300px;
	background: yellow;
}
#disp{
	width: 200px;
	height: 10px;
	background: pink;
	margin: 30px;
	padding: 30px;
	border: 10px solid brown;
}
#main{
	height:  600px;
	bckground: orange;
}
#lside{
	width: 300px;
	height: 600px;
	background: green;
	float: left;
}
#rside{
	width: 700px;
	height: 600px;
	background: blue;
	float:right;
}
#footer{
	height:200px;
	background: red;
}